body {
  background-color: rgb(33, 33, 36);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
}

.link-container-header {
  display: flex;
  flex-flow: row nowrap;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-link {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0 1.5em;
}

.footer-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  height: 25rem;
  justify-content: center;
}

.declaration {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-subtext {
  font-size: 24px;
  color: #f9faf8;
}

.hero-text,
.hero-image {
  width: 600px;
  height: 350px;
  margin: 20px 20px;
}

.hero-image {
  background-color: green;
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.header,
.hero,
.footer-container {
  background-color: #33435a;
}

.section {
  padding: 0px 175px;
}

.information,
.call-to-action {
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.quote {
  background-color: #e5e7eb;
  padding-top: 125px;
  padding-bottom: 125px;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}
.quote-attribution {
  text-align: end;
  font-size: 24px;
  font-weight: bold;
}

button {
  width: 80px;
  min-height: 30px;
  margin: 10px;
  background-color: #3882f6;
  border-style: none;
  color: white;
  border-radius: 5px;
}

.bottom-sign-up{
    border: 2px solid white;
    max-height: 30px;
    align-self: center;
}

.images-container {
  display: flex;
}

.image-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.call-to-action{
    display:flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.cta-container{
    width: 1000px;
    height: 200px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
}

.cta-text{
    display: flex;
    flex-direction: column;
}

.footer {
  color: white;
  min-height: 75px;
}
